{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  {{ if .Site.Params.showPostCount}}
  {{ $visiblePages := where .Pages "Params.hidden" "!=" true }}
  <p>There {{ if eq (len $visiblePages) 1 }} is 1 piece. {{ else }} are {{ len $visiblePages }} pieces. {{ end }}</p>
  {{ end }}
  <ul class="blog-posts">
    {{ $currentYear := 0 }}
    {{ range .Pages }}
      {{ if not .Params.hidden }}
      {{ if .Site.Params.groupByYear }}
      {{ $year := .Date.Year }}
      {{ if ne $year $currentYear }}
      <h3>{{ $year }}</h3>
      {{ $currentYear = $year }}
      {{ end }}
      {{ end }}
    <li>
      <span class="{{ if .Site.Params.groupByYear }}grouped{{ else }}ungrouped{{ end }}">
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ if .Site.Params.groupByYear }}
            {{ .Date.Format (default "02 Jan." .Site.Params.dateFormat) }}
            {{ else }}
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
            {{ end }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
</content>
{{ end }}
